
*.log
Fighter uwu/Logs/AssetImportWorker0.log
Fighter uwu/Logs/shadercompiler-AssetImportWorker0.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe5.log
*.log
