
*.log
Fighter uwu/Logs/AssetImportWorker0.log
Fighter uwu/Logs/shadercompiler-AssetImportWorker0.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe5.log
*.log
*.log
*.log
*.log
*.log
Fighter uwu/Logs/shadercompiler-AssetImportWorker0.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe12.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe13.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe14.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe15.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Fighter uwu/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Fighter uwu/Logs/AssetImportWorker0.log
